<!doctype html>
<html>
<head>
    <title>Bee DB</title>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="/static/css/hex.css">
    <link rel="stylesheet" href="/static/css/login.css">

    <link rel="stylesheet" id="hexa-css" href="https://www.skazee.com/painel/templates/SKZ/css/simple-line-icons.css" type="text/css" media="all">



</head>
<body>
<!-- Get a hi quality image for poster -->
<video poster="" id="bgvid" playsinline autoplay muted loop> 

<source src="/static/images/bees.mp4" type="video/mp4">

</video>

<div id="polina">

<h1> The Bee Machine </h1>
<p> a user-generated database for collecting honeybee population and health data


<p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
<br>


<!-- <div class="container"> -->

<button href="/links">Learn More Link broken</button>
</div>
<!-- <img src="/static/images/icon.svg" class="icon" > -->
<h3><a href="/">The Bee Machine</a></h3>


{% block content %}
  Put your body here.
{% endblock %}



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Needed for modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> 


</body>
</html>