<!doctype html>
<html>
<head>
  <title>Bee DB</title>

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  
  <link rel="stylesheet" href="/static/css/hex.css">
  <link rel="stylesheet" href="/static/css/login.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

  <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- Needed for modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> 

</head>
<body>




  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">The Bee Machine</h4>
      {% if "user_id" in session %}
          <span class="text-muted"><a href="/logout">Log Out</a></span>

      {% else %}

          
          <span class="text-muted"><a href="#ex1" rel="modal:open">Login or Register</a></span>
          <span class="text-muted"><a href="/users/{{ user_id }}"> Want to submit a photo? </a></span>


      {% endif %}


        
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>



  <!-- Login or Register Modal -->
  <div id="ex1" class="modal">
    <div class="well spaced" style="width:40%;">
      <h3>Login</h3>
      <form action="/login" method="POST"> 

        <div class="form-group">
          <label>Email:
            <input type="email" name="email" id="name-input" required>
          </label>
        </div>

        <div>
          <label>Password:
            <input type="password" name="password" id="password-input" required>
          </label>
        </div>

        <div>
          <input type="submit" value="Log In" class="btn btn-danger">
        </div>

      </form>
      <br>
      <h3> Or Register</h3>

      <form action="/register" method="POST">

        <div class="form-group">
          <label>
            Email:
            <input type="email" name="email" class="form-control">
          </label>
        </div>

        <div>
          <label>
            Password
            <input type="password" name="password" class="form-control">
          </label>
        </div>

        <div>
          <input type="submit" value="Register" class="btn btn-danger">
        </div>

      </form>
    </div>
    <div></div>
    <br>

    <a href="#" rel="modal:close">Close</a>
  </div>


  {% block content %}
    <!-- Put your body here. -->
  {% endblock %}

  <nav class="navbar fixed-bottom navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>



  <!-- <script src="hover.js"></script> -->

</body>
</html>