<!doctype html>
<html>
<head>
    <title>Bee DB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/css/hex.css">




</head>
<body>

<h3><a href="/">The Bee Machine</a></h3>

{% if "user_id" in session %}
    <h5><a href="/logout"> You are logged in. Want to log out? </a></h5>


{% else %}
    <a href="/login">You are not logged in. Want to?</a>
    <br>
    <a href="/register">Or, Register</a>

{% endif %}


{% block content %}
  Put your body here.
{% endblock %}
<br>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>