{% extends 'base.html' %}
{% block content %}

<br><br>

{% if "user_id" in session %}
    <h2>You are logged in. Submit a Photo? </h2>

    <!-- I want it to go to the homepage once we have submitted. But refresh database. --> 
    <form action="/upload-success" method="POST"> 
        <label> Photo UPloader will go here:
            <input type="photo" name="photo">
        </label>
        <input type="submit" value="Submit Photo">
    </form>
{% endif %}


<h1> View Our Bee Photo Database </h1>

    <ul>
        {% for bee in bees %}
            <li>
                <p>test</p>
                <img src="https://s3.amazonaws.com/clarifai-api/img3/prod/large/48a1fa6c5e3e45b2b37cce04d5f7df41/af514ac5dbe7c0586d0b2d38fd4d1968">
                
            </li>
        {% endfor %}
    </ul>


{% endblock %}