{% extends 'base.html' %}
{% block content %}

<br><br>
{% if "user_id" in session %}


    <h5><a href="/users/{{ user_id }}"> Want to submit a photo? doesnt work </a></h5>


{% endif %}



<h3> View Our Bee Photo Database </h3>
    <br>
    <h5> healthy bees: </h5>

    <div class="grid">
        <ul id="hexGrid" class="clr">


        
            {% for bee in healthy_bees %}
                <li class="pusher"></li>
                    <li>
                        <div>
                            <h1>{{ bee.bee_id, bee.health }}</h1>
                            <p> zip: {{ bee.zip_code }} </p>
                            <img src={{ bee.url }} 
                                alt="healthy bee {{ bee.bee_id}}" 
                                height="100" 
                                width="100"> 
                        </div>
                    </li>
                <li class="pusher"></li>
                <li class="pusher"></li>
                
            {% endfor %}

        </ul>
        
        

    </div>
    <br><br><br>

    <h5> unhealthy bees: </h5>
    <div class="grid">
        

        <ul id="hexGrid" class="clr">
            {% for bee in unhealthy_bees %}

                <li class="pusher"></li>
                    <li>
                        <div>
                            <h1>{{ bee.bee_id, bee.health }}</h1>
                            <p> zip: {{ bee.zip_code }} </p>
                            <img src={{ bee.url }} 
                                alt="unhealthy bee {{ bee.bee_id}}" 
                                height="100" 
                                width="100">
                        </div>
                    </li>
                <li class="pusher"></li>
                <li class="pusher"></li>   
                
            {% endfor %}
            
        </ul>
    </div>


<br><br>
<a href="/charts">Learn about our machine learning model</a>

<br>
<a href="/links">Learn about honeybee health outcomes and updates</a>
{% endblock %}