{% extends 'base.html' %}
{% block content %}

<br><br>
{% if "user_id" in session %}
    



    <h5><a href="/"> Want to submit a photo? doesnt work </a></h5>


{% endif %}



<h3> View Our Bee Photo Database </h3>
    <br>
    <h5> healthy bees: </h5>
    
        {% for bee in healthy_bees %}
            
<!--             {{ bee.bee_id, bee.health }};
            zip: {{ bee.zip_code }} -->
            <img src={{ bee.url }} 
                alt="healthy bee {{ bee.bee_id}}" 
                height="100" 
                width="100"> 
            
        {% endfor %}
    
    <br><br><br>
    <h5> unhealthy bees: </h5>

        {% for bee in unhealthy_bees %}

<!--             {{ bee.bee_id, bee.health }};
            zip: {{ bee.zip_code }} -->
            <img src={{ bee.url }} 
                alt="unhealthy bee {{ bee.bee_id}}" 
                height="100" 
                width="100">


        {% endfor %}



{% endblock %}