{% extends 'base.html' %}
{% block content %}

<div id="polina">
  <h1>Machine Learning </h1>

  <p>

        <li> 
            <!-- <img id="link" src="/static/images/clarafai-logo.png" href="https://clarifai.com/"> Clarafai</a> -->
            
            
            <a href="https://clarifai.com/developer">API</a>
            
        </li>
            
        <li> 
            <a href="https://clarifai.com/"> 
            <!-- <img id="link" src="/static/images/apitherapy.svg" href=" -->
             Clarafai 
            </a> 
        </li>

        <li> 
            <a href="https://www.kaggle.com/jenny18/honey-bee-annotated-images"> 
            Kaggle: The BeeImage Dataset: Annotated Honey Bee Images  
            </a> 
            Apis mellifera with location, date, health, and more labels
        </li>

        

        <li> 
            <a href="https://www.flaticon.com/authors/freepik" "title="Creative Commons BY 3.0"">Icons</a> 
        </li>

  </p>

</div>


{% endblock %}