{% extends 'base2.html' %}
{% block content %}

<div class="well spaced" style="width:40%;">
<h3>Login</h3>

<form action="/login" method="POST"> 

  <div class="form-group">

  
    <label>Email:
      <input type="email" name="email" id="name-input" required>
    </label>
  </div>

  <div>
    <label>Password:
      <input type="password" name="password" id="password-input" required>
    </label>
  </div>

  <div>
    <input type="submit" value="Log In">
  </div>

</form>
</div>

<!-- 
<a href="/register"> Or, register</a> -->



{% endblock %}