<!--         {% if performance == 'True' %} 
            Sweet! The machine learning model predicted correctly. {{ performance }} 
            with a confidence score of {% if prediction_tuple %} {{ prediction_tuple[1] }} {% endif %}
 -->
<!--         {% else %}

            Sigh...the machine learning model predicted incorrectly ( {{ bee_performance }} )
            Confidence scores:
             {% if prediction_tuple %} {{ prediction_tuple[1] }} {% endif %}

        {% endif %}
        <br><br>



        {% if image_added %}
            
            <br> Your image has been added! Thank you for improving our model.
            {{ add_image_attempt }}

        {% else %}

            <br> Cannot add image to model {{ add_image_attempt }}

        {% endif %} -->