<!--         {% if performance == 'True' %} 
            Sweet! The machine learning model predicted correctly. {{ performance }} 
            with a confidence score of {% if prediction_tuple %} {{ prediction_tuple[1] }} {% endif %}
 -->
<!--         {% else %}

            Sigh...the machine learning model predicted incorrectly ( {{ bee_performance }} )
            Confidence scores:
             {% if prediction_tuple %} {{ prediction_tuple[1] }} {% endif %}

        {% endif %}
        <br><br>



        {% if image_added %}
            
            <br> Your image has been added! Thank you for improving our model.
            {{ add_image_attempt }}

        {% else %}

            <br> Cannot add image to model {{ add_image_attempt }}

        {% endif %} -->


                # if performance:
        #     try:
        #         print("Prediction was accurate ")
        #         print("Adding image to model as a positive example. ")
        #         # add image as a positive example  
        #     except:
        #         print("Error with performance")

        # else:
        #     print("Prediction was not accurate. ")
        #     print("Adding image to model as a NEGATIVE example. ")

        #         # Add image 

        # # # This is going to become true once image is added.
        # # # needed for Jinja conditional...
        # image_added = prediction_output[2]   
        # add_image_attempt="none"

        # # prediction_tuple="slkjdf"
        # performance = "ljhlg"


        
## Helper functions ##
def allowed_file(filename):
    """ Determines whether filename is legal """
    return '.' in filename and \
           filename.rsplit('.', 1)[1].lower() in ALLOWED_EXTENSIONS