{% extends 'base.html' %}
{% block content %}

<br><br>
{% if "user_id" in session %}

    {% if prediction_success %} 
        <br>

        {% if bee_confidence %} 
            bee_confidence {{ bee_confidence }}
        {% endif %}

        <br>

        {% if health_confidence %} 
            health_confidence {{ health_confidence }}
        {% endif %}

        <br>
        {% if message %}
            {{ message }} <br><br>
        {% endif %}

        
        {% if new_bee %}
            Thank you for adding a bee to our machine learning model! <br>
            <!-- {{ new_bee }} <br> -->
            <!-- {{ new_bee.url }} <br> -->
            <img src="{{ new_bee.url }}" alt="new_bee"> <br>
        {% endif %}


    {% else %}       

        The model did not predict successfully.

    {% endif %}

    



{% else %}

{% endif %}

<br><br>
<a href="/"> Go Back to Home </a>
<br>
<a href="/users/{{ user_id }}"> Submit another photo? </a>

{% endblock %}