{% extends 'base.html' %}
{% block content %}

<br><br>
{% if "user_id" in session %}

    {% if prediction_success %}
    <br>
    <br>{% if bee_confidence %} 
        bee_confidence {{ bee_confidence }}
        {% endif %}



        {% if health_confidence %} 
        health_confidence {{ health_confidence }}
        {% endif %}





    {% else %}       

    The model did not predict successfully.

    {% endif %}

    test
    
    <br> 

    


    <br>

    <br><br>
    <a href="/"> Go Back to Home </a>
    <br>
    <a href="/users/<int:user_id>"> Want to submit a photo? </a>

{% endif %}

{% endblock %}